{# templates/Book/new.html.twig #}
{% extends 'base.html.twig' %}
{% block content %}
{{ form_start(form) }}
    <br/>
    <div>
        {{ form_errors(form) }}
    </div>

    <div class="form-control">
        <div class="col">
            {{form_label(form.author)}}
            {{ form_widget(form.author) }}
        </div>
        <br/>
         <div class="col">
            {{form_label(form.title)}}
            {{ form_widget(form.title) }}
        </div>
        <br/>
        <div class="col">
            {{form_label(form.datePublish)}}
            {{ form_widget(form.datePublish)}}
        </div>
        <br/>
        <button type="submit" class="button1">Create book!</button>
    </div>
    <br/>

{{ form_end(form) }}
<br/>

{% endblock %}