{% extends 'base.html.twig' %}
{% block content %}
<br/>
    <table>
        <tr>
            <th> Author</th>
            <th> Title</th>
            <th> Date</th>
            <th> Date Published </th>
            <th> Date Last Edit </th>
        </tr>
        {% for livre in book %}
        <tr>
            <td>{{livre.author}}</td>
            <td>{{livre.title}}</td>
            <td>{{livre.date |format_datetime('short','none',locale='fr')}}</td>
            <td> {{livre.datePublish|format_datetime('short','none',locale='fr')}}</td>
            <td> {{livre.dateLastEdit | format_datetime('short','none',locale='fr')}}</td>
            <td><a href="{{ path('delete_book', {'id': livre.Id}) }}" class="button"> Delete </a></td>
        </tr>

        {% endfor %}
    </table>
    <br/>


{% endblock %}