<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('style.css')}}">
        {% endblock %}
        <meta charset="UTF-8">
        <script src="https://kit.fontawesome.com/51184747da.js" crossorigin="anonymous"></script>
        <title>Welcome !</title>
    </head>
        <!-- Fonts -->
    <body>
        {% block header %}
        <div class="header">
             <ul>
                <li><a href="{{path('homepage')}}" >Form</a></li>
                <li><a href="{{path('admin_book')}}" >Book List</a></li>
                <li style="float:right">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a>
                {% endif %}
            </li>
            <li style="float:right">
                <a>
                    {% if app.user %}
                    <i class="far fa-user icon"></i> Bonjour {{ app.user.username }} !
                    {% endif %}
                </a>
            </li>
            </ul> 
        </div> 
        {% endblock %}
        <br/>
        {% block body %}
        <div id="body_content">
            {% block content %}{% endblock %}
        </div>
        {% endblock %}
    </body>

    <div class="footer">
        <p>© Alexandre TO 2020</p>
    </div>
</html>